body{
	background-image: url("https://zippy.gfycat.com/HiddenWastefulAmericancreamdraft.gif");
	background-image: fixed no-repeat;
	text-align: center;
	background-size: 100%;
	width: 40%;
	margin: 6% auto ;
	margin-top: 2%;
	margin-right: 10%;
	padding: 4%;
	background-color: rgba(255,255,255,0.593);
	color: #fff;
}
#error-h1{
	font-family: 'Barlow Semi Condensed', sans-serif;
}
.titulo{
	color: #fff;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 5em;
	margin: 0%;
	margin-left: -170%; 
	margin-right: 0%;
	margin-top:-2%;
}
#tryagain{
	border-radius: 20px;
	padding: 5px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	width: 100px;
	font-size: 1em;
	
}
a{
	text-decoration: none;
	color: #000;
}